/* About the background-image url value
     * The value was generated with the tool available at:
        https://yoksel.github.io/url-encoder/
     * The following SVG element was used as an input to that tool
*/
/*
  <svg
    viewBox='0 0 3 3'
  >
    <line
      stroke="#aaa"
      vector-effect="non-scaling-stroke"
      stroke-width="5"
      x1="1" x2="1" y1="0" y2="3"
    ></line>
    <line
      stroke="#aaa"
      vector-effect="non-scaling-stroke"
      stroke-width="5"
      x1="2" x2="2" y1="0" y2="3"
    ></line>
    <line
      stroke="#aaa"
      vector-effect="non-scaling-stroke"
      stroke-width="5"
      x1="0" x2="3" y1="1" y2="1"
    ></line>
    <line
      stroke="#aaa"
      vector-effect="non-scaling-stroke"
      stroke-width="5"
      x1="0" x2="3" y1="2" y2="2"
    ></line>
  </svg>
*/

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
#t3Board {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 3"%0A%3E%3Cline stroke="%23aaa" vector-effect="non-scaling-stroke" stroke-width="5" x1="1" x2="1" y1="0" y2="3" %3E%3C/line%3E%3Cline stroke="%23aaa" vector-effect="non-scaling-stroke" stroke-width="5" x1="2" x2="2" y1="0" y2="3" %3E%3C/line%3E%3Cline stroke="%23aaa" vector-effect="non-scaling-stroke" stroke-width="5" x1="0" x2="3" y1="1" y2="1" %3E%3C/line%3E%3Cline stroke="%23aaa" vector-effect="non-scaling-stroke" stroke-width="5" x1="0" x2="3" y1="2" y2="2" %3E%3C/line%3E%3C/svg%3E%0A');
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
}
#t3BoardWrapper {
  position: relative;
}
#t3WinningLine {
  left: 0;
  position: absolute;
  top: 0;
}
#t3Board, #t3BoardWrapper, #t3WinningLine {
  height: 90vw;
  width: 90vw;
}
.square {
  margin: 16px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #t3Board, #t3BoardWrapper, #t3WinningLine {
    height: 350px;
    width: 350px;
  }
  .square {
    margin: 19px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #t3Board, #t3BoardWrapper, #t3WinningLine {
    height: 525px;
    width: 525px;
  }
  .square {
    margin: 29px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #t3Board, #t3BoardWrapper, #t3WinningLine {
    height: 550px;
    width: 550px;
  }
  .square {
    margin: 30px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #t3Board, #t3BoardWrapper, #t3WinningLine {
    height: 600px;
    width: 600px;
  }
  .square {
    margin: 33px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #t3Board, #t3BoardWrapper, #t3WinningLine {
    height: 600px;
    width: 600px;
  }
  .square {
    margin: 33px;
  }
}

.t3-player-display {
  width: 100px;
}
#t3PostGameControls {
  height: 35px;
}
#t3TurnContainer {
  width: 130px;
}
