#app {
  margin: 0 auto;
  width: 90vw;
}
footer {
  font-size: 14px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #app {
    width: 350px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #app {
    width: 525px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #app {
    width: 550px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #app {
    width: 600px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #app {
    width: 600px;
  }
}
